.bottom-section{
    display: flex;
    flex-direction: column;
    height:inherit;
    background-color: cadetblue;
}

.price-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    height: 10rem;
    background-color: #000000;
    color: floralwhite;
}
.extra-addings{
    background-color: rgb(204, 204, 204);
}
.salad-option, .tomato-option, .cheese-option, .meat-option {
    display: flex;
    padding: 1.6rem;
    justify-content: space-between;
    background-color: #ffbb0e;
    color: #000000;
    align-content: center;
  align-items: center;
}

.order-option{
    height: 11rem;
    background-image: url('./brgr.jpg');
    background-repeat: no-repeat;
    background-position: inherit;
    padding: 2.1rem;
}
.order-option:hover{
opacity: 0.9;
}

.order-button{
    box-shadow: 16px 17px 39px 3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 16px 17px 39px 3px rgba(0,0,0,0.74);
    -moz-box-shadow: 16px 17px 39px 3px rgba(0,0,0,0.74);;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.order-button:hover {
    width: 7rem;
}
.remove-button, .add-button {
    margin: 0 0.5rem;
    height: 2.5rem;
}
    